.table th,
.table td {
  padding: 0.5rem;
  text-align: left;
}

.table th {
  background: $light;
}

@media (max-width: 768px) {
  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
}
