// Dark Gold
$primary: #aa6c39;
// Light Grey
$light: #d3d3d3;
// Dark Grey;
$dark: #45454545;
// Dark Red
$danger: #8b0000;
// Dark Blue
$success: #00008b;
// Primary Font
$font-primary: 'Tomorrow', sans-serif;
// Secondary Font
$font-secondary: 'Ubuntu', 'sans-serif';
