// Dark Gold
$primary: #aa6c39;
// Light Grey
$light: #aaa;
// Dark Grey;
$dark: #454545;
// Dark Red
$danger: #8b0000;
// Dark Blue
$success: #2f812f;
// Primary Font
$font-primary: "Tomorrow", sans-serif;
// Secondary Font
$font-secondary: "Ubuntu", "sans-serif";
